html {
    background: linear-gradient(pink, rgb(81, 162, 212), rgb(88, 88, 214));
    
    


}



header {
    padding-top: 70px; 
    
}


.navbar {
    overflow: hidden;
    padding: 20px 50px;
    border: 20px;
    border-radius: 10px;
    width: 900px;
    background-color:#F1EDF2;
    opacity: .75;
    font-style:bold;
    position: fixed;
    right: 3px;
    left: 1px;
    top: 0px;
    z-index: 2;
    
   
    

}

.navbar a {
    
    text-align:justify;
    padding: 30px;
    margin-left: 92px;
    text-decoration: none;
    

}

.navbar a:hover {
    background-color:  #d18895;
}


*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;

}

p{
    text-align: justify;
    margin: 10px 30px;
}

a:link {
    color: rgb(242, 52, 191);
}

a:visited {
    color:rgb(127, 56, 198);
}

a:hover{
    color:rgb(156, 0, 133);
    
}



#prof-pic {
    display:block;
    position: relative;
    bottom: px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    border-style:solid;
    border-radius: 300px;
    border-width: 5px;
    border-color: rgb(252, 197, 206);
    
}

.home {
    padding: 30px;


}

.about {
    padding: 70px;
}

.work {
    padding: 60px; 
    border: double plum 10px;
    border-radius: 15px;
}

.work-section1 {
    border: solid whitesmoke 4px;
    display:inline-block;
    position:relative;
    left: 135px;
    top: 10px;

}

.work-section2 {
    border: solid whitesmoke 4px;
    display:inline-block;
    position:relative;
    left: 215px;
    top: 10px;
    
}

.contact {
    padding: 60px;
    margin: 60px;
    border: 20px;
    border-color: plum;
    border-style:double;
    border-width: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    opacity:.75;


}

form {
    margin-left: 200px;
    

}

form label {
    text-align:center;
}

div.transbox {
    background-color: aliceblue;
    
}

div.transbox p {
    overflow: none;
    font-weight: bold;
    color: black;

}

#submit {
    margin-left: 100px;
}

footer {
    padding-bottom: 50px;
    height: 100px;
}

footer p {
    color:#200925;
    text-align: center;
    font-weight: bold;
    position:relative;
    top: 40px;
}



